*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Acomoda el tamaño de la caja según el ancho y el alto*/
}

.title{
    color: rgba(0, 0, 10, 0.265); /* La a es la transparencia */
    padding: 10px;
}

.art1{
    padding: 35px;
    background-image: url(./img/hex.png);
    background-position: center;
    color:black;
}

.art2{
    width: 600px;
    height: auto;
    background-image: url(./img/hsl.png);
    /*background-size: cover; Tamaño real*/
    background-size: contain; /*Sin recortar*/
    background-repeat: no-repeat;
    color:black;
}

.art3{
    width: 500px;
    height: 600px;
    background-image: url(./img/Kensy.jpg);
    background-size: contain; /*Sin recortar*/
    background-repeat: no-repeat;
    margin: 10% auto;
    color:black;
    border: 2px solid black;
    /*
        Posición en base al plano cartesiano (x, y)
        x negativa = arriba
        y positiva = abajo
    */
    background-position: 30px -4px;
}

.cabecera{
    background-image: url(./img/Kensy.jpg);
}

ul > li{
    list-style: none;
    display:inline-block;
}